@import "tailwindcss";

:root {
  --background: #F5EFE7;
  --foreground: #3E2E22;
  --primary: #B08D57;
  --accent: #E8B4C4;
  --secondary: #8A9A6E;
  
  --shadow-card: 0 4px 20px -2px rgba(62, 46, 34, 0.05);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-secondary: var(--secondary);

  --font-serif: var(--font-serif);
  --font-script: var(--font-script);
  --font-sans: var(--font-sans);
}

/* Base resets & utilities */
@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
  }

  /* Micro-interações e Utilities globais da UI */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
